* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2';
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap .header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header ul {
    display: flex;
}

.header ul li {
    list-style: none;
    color: #0A1902;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    opacity: 0.5;
}

.header ul .select {
    text-decoration: underline;
    text-decoration-color: #59BE29;
    text-decoration-thickness: 2px;
    opacity: 1;
}

.header .sign-up-btn {
    padding: 13px 52px ;
    color: #fff;
    border: none;
    background-color: #59BE29;
    border-radius: 10px 50px 10px 50px;
    box-shadow: 0 0 10px #1634072d;

    transition: 0.3s ease;
    cursor: pointer;
}

.header .sign-up-btn:hover {
    border-radius: 50px 10px 50px 10px;
}

.header .sign-up-btn:active {
    transform: scale(1.05);
}