* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Chettan 2';
}

@keyframes lift {
    0% {
        margin-top: 50px;
    }

    50% {
        margin-top: 0;
    }

    100% {
        margin-top: 50px;
    }
}

@keyframes left-instance {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

::selection {
    background-color: #59BE29;
    color: #fff;
}

.signup-popup {
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.4);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.15);
    z-index: 10;
    display: none;
}

.signup-popup .signup-header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
}

.signup-header .sign-popup-close {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    font-size: 25px;

    transition: 0.3s ease;
    cursor: pointer;
}

.sign-popup-close:hover {
    box-shadow: 0 0 20px #33333396;
    transform: scale(1.05);
}

.signup-popup .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.signup-popup .form input {
    width: 70%;
    height: 50px;
    margin: 20px 0;
    font-size: calc(1vw);
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #59BE29;
}

.signup-popup .form button {
    width: 60%;
    height: 40px;
    margin: 20px 0;
    border: none;
    background-color: #59BE29;
    color: #fff;
    border-radius: 10px 20px;
    box-shadow: 0 0 10px #33333341;
    font-weight: 600;
    font-size: calc(1vw + 2px);
    transition: 0.5s ease;
    cursor: pointer;
}

.signup-popup .form button:hover {
    transform: scaleX(1.05);
}

.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap .header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}

.header ul {
    display: flex;
}

.header ul li {
    list-style: none;
    color: #0A1902;
    margin: 0 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    opacity: 0.5;
}

.header ul li:hover {
    text-decoration: underline;
    text-decoration-color: #59BE29;
    text-decoration-thickness: 2px;
    opacity: 1;
}

.header .sign-up-btn {
    padding: 13px 52px;
    color: #fff;
    border: none;
    background-color: #59BE29;
    border-radius: 10px 50px 10px 50px;
    box-shadow: 0 0 10px #1634072d;

    transition: 0.3s ease;
    cursor: pointer;
}

.header .accountContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.accountContainer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;

    transition: 0.5s ease;
    cursor: pointer;
}

.accountContainer img:hover {
    transform: scaleX(1.3);
}

.accountContainer button {
    padding: 13px 52px;
    color: #fff;
    border: none;
    background-color: #be3329;
    border-radius: 10px 50px 10px 50px;
    box-shadow: 0 0 10px #1634072d;

    transition: 0.3s ease;
    cursor: pointer;
}

.accountContainer button:hover {
    border-radius: 50px 10px 50px 10px;
}

.header .sign-up-btn:hover {
    border-radius: 50px 10px 50px 10px;
}

.header .sign-up-btn:active {
    transform: scale(1.05);
}

.home-page {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.home-page .home-content {
    display: flex;
    width: 100%;
    height: 90vh;
}

.home-page .description-part {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation: left-instance 1s ease;
}

.home-page .description-part .text-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
}

.home-page .image-part {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page .image-part img {
    width: 90%;
    animation: lift 2s ease infinite;
}

.text-part .home-btn {
    padding: 13px 44px;
    border-radius: 20px 80px 20px 80px;
    cursor: pointer;
    transition: 0.5s ease;
    margin: 10px;
}

.text-part .home-btn:hover {
    transform: translateY(5px);
}

.text-part .home-text {
    font-size: calc(1vw + 5px);
    text-transform: uppercase;
    color: #0A1902;
}

.text-part .home-title {
    font-size: calc(4vw + 20px);
    color: #59BE29;
    line-height: 1;
}

.text-part .home-subtitle {
    font-size: calc(1vw + 1px);
    color: #0A1902;
    font-weight: 100;
    margin: 30px 0;
}

.home-add-to-cart {
    background-color: #59BE29;
    color: #fff;
    border: none;
}

.home-learn-more {
    background-color: #fff;
    color: #59BE29;
    box-shadow: 0 10px 20px #1634072a;
    border: 1px solid #58be2925;
}

.stats-page {
    width: 100%;
    height: 50vh;
    display: flex;
}

.stats-page .image-part {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    animation: left-instance 1s ease;
}

.stats-page .image-part img {
    width: calc(20vw);
}

.stats-page .description-part {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: fade 3s ease;
}

.stats-page .description-part h3 {
    font-size: 35px;
    margin: 10px 0;
}

.stats-page .description-part .stats-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    height: 300px;
}

.stats-page .description-part .stats-container .stat-card {
    display: flex;
    margin: 30px 0 10px 0;
}

.stats-page .description-part .stats-container .stat-card .number-container {
    margin: 0 10px;

}

.stats-page .description-part .stats-container .stat-card .number-container h3 {
    box-shadow: 0 0 15px #3333332a;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #59BE29;
}

.stats-page .description-part .stats-container .stat-card .description-container
h2 {
    color: #59BE29;
    font-size: 35px;
}

.stats-page .description-part .stats-container .stat-card .description-container
hr {
    color: #59BE29;
}

.stats-page .description-part .stats-container .stat-card .description-container
p {
    color: #0A1902;
}


@media (max-width: 700px) {
    .header {

    }

    .header img {
        display: none;
    }

    .header .sign-up-btn {
        padding: 10px 30px;
    }

    .header ul li {
        font-size: 15px;
    }

    .home-page .description-part {
        width: 100%;
    }

    .home-page .image-part {
        display: none;
    }

    .text-part .buttons-part .home-btn {
        padding: 8px 25px;
    }
}